:root {
  --norm-color: antiquewhite;
  --Link-black: #4d4d4d;
  --melon: #f7a598ff;
}

.Links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.genreLinks {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: var(--norm-color);
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  padding: 0.8rem;
}

.genreLinks:hover {
  text-decoration: underline;
  font-size: 1.7rem;
  background-color: var(--melon);
  color: var(--Link-black);
  border-radius: 3rem;
}
