:root {
  --norm-color: antiquewhite;
  --background-black: #3c3b3b7e;
  --purple: #350b38;
  --pale-dogwood: #f6d3c3ff;
  --uranian-blue: #b5d3f8ff;
  --redwood: #b76254ff;
  --melon: #f7a598ff;
  --mountbatten-pink: #967a8eff;
  --link-color-hover: #d9db39;
  --link-color: #2b2bdd;
  --img-width: 10rem;
  --padding-inline: 0.3rem 1.3rem;
  --font-Lato: "Lato", sans-serif;
}

.seasonContainer,
.filteredSeason {
  padding: var(--padding-inline);
}
