:root {
  --norm-color: antiquewhite;
  --pale-dogwood: #f6d3c3ff;
  --uranian-blue: #b5d3f8ff;
  --redwood: #b76254ff;
  --melon: #f7a598ff;
  --mountbatten-pink: #967a8eff;
  --link-color-hover: #d9db39;
  --link-color: #2b2bdd;
  --padding-inline: 0.3rem 1.3rem;
  --font-Lato: "Lato", sans-serif;
}

.podcastContainer {
  font-size: large;
}

.podcastContainer h1 {
  color: var(--norm-color);
  padding: var(--padding-inline);
}
.podcastContainer h2 {
  padding: var(--padding-inline);
  text-decoration: underline;
  color: var(--norm-color);
}

.podcastContainer h3 {
  color: var(--redwood);
  padding: var(--padding-inline);
}

.podcastContainer h4 {
  color: var(--uranian-blue);
  padding: var(--padding-inline);
}

.podcastContainer h5 {
  color: var(--mountbatten-pink);
  padding: var(--padding-inline);
}

.paragraph {
  padding: var(--padding-inline);
  color: var(--pale-dogwood);
}

.paragraph a {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.2s ease-in;
}

.paragraph a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}
.email {
  transition: all 0.2s ease-in !important;
  color: var(--link-color) !important;
}

.email:hover {
  color: var(--melon) !important;
}

.podcastImage > * {
  text-align: center;
  margin: 10px;
}
.podcastImage > img {
  text-align: center;
  width: 20rem;
  margin: 10px;
}

.podcastImage > h3 {
  font-size: x-large;
}
.podcastImage {
  background-color: transparent;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .podcastImage {
    flex-direction: column;
    overflow-x: auto;
  }
  .podcastImage > * {
    flex: 1 1 auto;
  }
  .podcastImage > img {
    text-align: center;
    width: 10rem;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .podcastImage {
    flex-direction: column;
    padding: 10px;
  }
  .podcastImage > * {
    flex: 1 1 100%;
  }
  .podcastImage > img {
    text-align: center;
    width: 10rem;
    margin: 10px;
  }
  .podcastImage > h1 {
    font-size: larger;
  }
}

.backButton > a {
  color: var(--norm-color);
  font-family: var(--font-Lato);
  font-size: large;
}

.endpointError {
  padding: 2rem;
  text-align: center;
}

.endpointError h1 {
  margin: 2rem;
}
