:root {
  --norm-color: antiquewhite;
  --pale-dogwood: #f6d3c3ff;
  --mountbatten-pink: #967a8eff;
  --uranian-blue: #b5d3f8ff;
}

.titleSorting {
  text-align: center;
}

.titleSorting h2 {
  color: #55cddb;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSorting h2 span {
  padding-top: 9px;
  align-self: center;
}

.titleSorting h2:hover {
  text-decoration: underline;
}

.titleSorting ul > li {
  padding: 0.3rem;
  list-style-type: none;
  border-bottom: 1px solid var(--norm-color);
  border-top: 1px solid var(--norm-color);
  border-radius: 2rem;
  margin: 1rem 0;
}

.titleSorting h3 {
  color: var(--pale-dogwood);
  text-decoration: underline;
  padding: 0.9rem 0;
}

.titleSorting h4 {
  color: var(--mountbatten-pink);
  padding-bottom: 0.3rem;
}
.titleSorting h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.titleSorting h5 > span {
  margin: 3px;
  font-size: 1.7rem;
}

.titleSorting h5 > span:hover {
  color: red;
  cursor: pointer;
}
.titleSorting h6 {
  color: var(--uranian-blue);
  font-size: small;
}
