.titleSorting {
  text-align: center;
}
.titleSorting h2 {
  color: #55cddb;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleSorting h2 span {
  padding-top: 9px;
  align-self: center;
}

.titleSorting h2:hover {
  text-decoration: underline;
}

li {
  padding: 0.3rem;
  list-style-type: none;
}
