:root {
  --font-Noto: "Noto Sans", sans-serif;
  --font-Lato: "Lato", sans-serif;
  --color: antiquewhite;
  --background-color: #242424;
  --melon: #f7a598ff;
  --padding-inline: 0.3rem 1.3rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 1.7rem;
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-Noto);
  padding-top: 80px;
  padding-bottom: 74px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Lato);
  font-weight: 700;
}

/* 
@media (min-width: 600px) {
  .about-me {
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-areas: 
          "title img"
          "subtitle img"
          "text img";
      grid-column-gap: 2em;
  } */

.homeButton {
  font-family: var(--font-Lato);
  background: white;
  cursor: pointer;
  color: var(--background-color);
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
  font-size: large;
  text-align: center;
  border: 2px solid white;
  transition: all 0.3s ease-out;
  margin: 30px;
}

.homeButton:hover {
  border: 2px solid var(--melon);
}

.returnHome {
  text-align: center;
  padding: 2rem;
}
.returnHome h1 {
  margin: 2rem;
}

.sortingSection h2 {
  cursor: pointer;
  padding: var(--padding-inline);
  -webkit-user-select: none;
  user-select: none;
}
.sortingSection h2:hover {
  text-decoration: underline;
}
